@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:300,400");


.shell {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 60%;
    color: #4468ca;
  }
  
  .cube {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    line-height: 1.65;
  }
  
  .cube > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .cube> span {
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
  .cube:hover { flex: 1 1 50%; }
  .cube:hover > img {
    width: 100%;
    height: 100%;
  }

  
  @media screen and (max-width: 980px) {

    #shell {
        background-attachment: scroll;
        height: 80vh;
        min-height: 35rem;
    }

        #shell > .cube {
            margin: 0 auto;
            max-width: 35rem;
        }

            #shell > .cube h1 {
                font-size: 3rem;
            }

            #shell > .cube p {
                font-size: 1.25rem;
            }

            #shell > .cube .icon {
                border-radius: 100%;
                border: 1px solid #ffffff;
                color: #ffffff;
                content: url("../../images/butterfly.png");
                font-size: 3rem;
                height: 8rem;
                line-height: 6rem;
                margin: 0 auto 3rem auto;
                position: relative;
                width: 8rem;
                z-index: 10001;
            }

}

@media screen and (max-width: 736px) {

    #shell {
        height: auto;
        min-height: 38rem;
    }

        #shell > .cube {
            padding: 0 1.5rem;
        }

            #shell > .cube h1 {
                font-size: 2rem;
                line-height: 3rem;
            }

            #shell > .cube br {
                display: none;
            }

            #shell > .cube p {
                font-size: 1rem;
            }

            #shell > .cube .icon {
                margin-bottom: 2rem;
            }

}
